{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div><h2 class="page__title"> {{ title }} </h2></div>

<div>
    {% if message %}
    <div class="category__div">
        <h3>{{ message }}</h3>
    </div>
    {% else %}
    {% for ctg, recipes in categories.items %}
    <div class="category__div">
        <h3 class="recipe__head">
            {{ ctg.title }}
        </h3>

        {% for recipe in recipes %}
        <p class="category__p_recipe_link">
            <a href="{% url 'view_recipe' recipe.pk %}">
                {{ recipe.name }}
            </a>
        </p>
        {% endfor %}

    </div>


    {% endfor %}
    {% endif %}
</div>
<div>
    <div class="recipe__bottom_navi">
        <div class="recipes__navi_pagination">
            {% if page_obj.has_previous %}
            <a href="?page=1">
                <p class="recipe__p_navi">в начало</p>
            </a>
            <a href="?page={{ page_obj.previous_page_number }}">
                <p class="recipe__p_navi">назад</p>
            </a>
            {% endif %}
        </div>
        <div class="recipes__navi_pagination">
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">
                <p class="recipe__p_navi">вперед</p>
            </a>
            <a href="?page={{ page_obj.paginator.num_pages }}">
                <p class="recipe__p_navi">в конец</p>
            </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
