{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div><h2 class="page__title"> {{ title }} </h2></div>

<div>
    {% if message %}
    <div class="recipe__div">
        <h3>{{ message }}</h3>
    </div>
    {% else %}
    {% for recipe in recipes %}
    <div class="recipe__div">
        <h3 class="recipe__head">
            {{ recipe.name }}
        </h3>

        <div class="recipe__text">
            <h3>Описание</h3>
            {{ recipe.description }}
            <h3>Время приготовления</h3>
            {{ recipe.duration }} минут.
            <h3>Автор</h3>
            {{ recipe.author }}
        </div>
        <div class="recipe__image">

        </div>
        <div class="recipe__footer">
            <a href="{% url 'view_recipe' recipe.pk %}">
                <p class="recipe__p_list_link">Подробнее...</p>
            </a>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
