.form__header {
    font-weight: 800px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #ccc;
}

.helptext {
    display: none;
}

label {
    display: grid;
}

.modif {
    display: grid;
    align-items: left;
    grid-template-columns: repeat(1, 360px);
    grid-template-rows: 40px;
    gap: 10px;
    padding-left: 20px;
}

input{
    width: 200px;
    background-color: #eee;
    font-weight:800px;
    display: grid;
    border: solid 1px;
    border-radius: 3px;
}

.form_button {
    background: #ccc;
    font-weight: 600;
    padding: 10px;
}

li {
    marker: none;
    display: block;
}

.recipe__label {
    width: 200px;
    display: flex;
    margin-left: 10px;
}

.recipe__name {
    width: 500px;
    height: 14px;
    max-height: 14px;
    background-color: #eee;
    margin: 10px;
}
.recipe__field {
    width: 500px;
    height: 100px;
    background-color: #eee;
    margin: 10px;
}