* {
    text-decoration: none;
    margin: auto;
}

body {
    background-color: rgb(240, 227, 210);
    max-width: 1050px;
    min-height: 100vh;
    border-left: solid 1px;
    border-right: solid 1px;
    box-shadow: 10px 5px 5px gray;
/*    display: grid;
    grid-template-rows: 90px auto;
    gap: 10px;*/

}

.central_main {
    background-color: rgb(240, 227, 210);
    max-width: 1024px;
    min-height: 100vh;
/*    border-left: solid 2px green;
    border-right: solid 2px green; */
/*    box-shadow: 10px 5px 5px gray; */
    display: grid;
    grid-template-rows: 90px auto;
    gap: 10px;
}

.center {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

header {
    height: 90px;
    width: 100%;

    border-bottom: solid 2px;

}
.header__container {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 10px;
    width: auto;
    height: 100%;
}

.head {
    width: 100%;
    height: 100%;
    display: block;
    padding: auto;
}

.header__main {
    margin: auto;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    font-style: italic;
    font-family: times;
    margin: 0;
    margin-top: 22px;
    padding: 0;
}

a {
    padding: 0;
    display: flex;
    color: black;
}
.srv__link {
    color: inherit;
}

.service {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.page__title {
    margin-left: 20px;
    font-style: italic;
}
.content {
    min-height: 85%;
    width: 100%;
}

.recipe__div {
  min-height: 120px;
  margin: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  align-content: stretch;
  border: solid red;
  flex-flow: row;
}

.recipe__head {
    height: 30px;
    line-height: 30px;
    background-color: #ccc;
    font-size: 20px;
}

.recipe__text {
    margin-left: 10px;
}

.recipe__image {
    height: 150px;
    width: 150px;
    border: solid 1px;
    margin-right: 10px;
}
footer {
    border-top: solid black 2px;
    height: 5%;
    width: 90%;
    margin-bottom: 5px;
    margin-top: 0;
    display: flex;
}

.srv__button_div {
    width: 120px;
    height: 50px;
    border: solid #000 1px;
    border-radius: 20px;
    display: flex;
    margin-top: 0;
}
.srv__button_div:hover {
    background-color: #000;
    color: #fff;
}