<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/form.css' %}"/>
    <title> {% block title %} {{ title }} {% endblock %} </title>
</head>
<body>
<header>
    <div class="header__container">
        <a href="{% url 'index' %}">
        <div class="head l_align">
            <h1 class="header__main">Cook-book</h1>
        </div>
        </a>
        <div class="service">
            {% if user.is_authenticated %}
            <div class="srv__button_div">
            <a class="srv__link" href="{% url 'logout' %}">Выход</a>
            </div>
            {% else %}
            <div class="srv__button_div">
            <a class="srv__link" href="{% url 'login' %}">Вход</a>
            {% endif %}
            </div>
            {% if not user.is_authenticated %}
            <div class="srv__button_div">
            <a class="srv__link" href="{% url 'signup' %}">Регистрация</a>
            </div>
            {% endif %}
        </div>

    </div>

</header>

<div class="content">
    {% block content %}
    Some content to appear here...
    {% endblock %}
</div>

<footer>
    <div><p>&copy; 2023</p></div>
</footer>
</body>
</html>