<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

    <title> {% block title %} {{ title }} {% endblock %} </title>
</head>
<body>
<div class="central_main">
    <header>
        <div class="header__container">
            <a href="{% url 'index' %}">
                <div class="head l_align">
                    <h1 class="header__main">Cook-book</h1>
                </div>
            </a>
            <div class="service">
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">
                    <div class="srv__button_div">
                        <p>Выход</p>
                    </div>
                </a>
                {% else %}
                <a href="{% url 'login' %}">
                    <div class="srv__button_div">
                        <p>Вход</p>
                    </div>
                </a>
                {% endif %}
                {% if not user.is_authenticated %}
                <a href="{% url 'signup' %}">
                    <div class="srv__button_div">
                        <p>Регистрация</p>
                    </div>
                </a>
                {% endif %}
            </div>

        </div>

    </header>

    <div class="content">
        {% block content %}
        Some content to appear here...
        {% endblock %}
    </div>

    <footer>
        <div><p>&copy; 2023</p></div>
    </footer>

</div>
</body>
</html>