{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/form.css' %}"/>
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h3 class="form__header">Регистрация</h3>
    <form action="" method="post" class="modif">
        {% csrf_token %}
        <div>
        <p>Имя</p><p>{{ form.username }}</p>
        <p>Email</p><p>{{ form.email }}</p>
        <p>Пароль</p><p>{{ form.password1 }}</p>
        <p>Подтвердить пароль</p><p>{{ form.password2 }}</p>
        </div>
        <input type="submit" value="Сохранить" class="form_button">
    </form>
{% endblock %}